.form-out{
    position: relative;
    margin: auto;
    width: 450px;
    border-radius: 10px;
    background: #396afc;
    background: -webkit-linear-gradient(to top, #546efd, #396afc);  
    background: linear-gradient(to top, #546efd, #396afc);
    
    /* background: #1e3c72; 
    background: -webkit-linear-gradient(to top, #2a5298, #1e3c72);  
    background: linear-gradient(to top, #2a5298, #1e3c72); */

    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 0px 10px rgba(0, 0, 0, 0.25)
}
.title{
    padding: 10px !important;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.name-input{
    margin-top : 10px !important;
    width: 75% !important;
}
.anchor{
    text-decoration: none;
    color : inherit;
}
.anchor:hover{
    color : inherit;
}
.add-button{
    margin: 20px !important;
}
.bold{
    font-weight: 700 ;
}